@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');
.LogoName {
  font-family: 'Libre Franklin', sans-serif!important;
  font-weight: 800;
  color: #3366FF;
}